/* Image Card */
.image-card {
    width: auto;
    /* Adjust the width as needed */
    height: 400px;
    /* Adjust the height as needed */
    border-radius: 10px;
    /* Adjust the border radius for desired roundness */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    /* Adjust shadow values */
    overflow: hidden;
    /* Prevent image from overflowing the card */
}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure image covers the entire card area */
}