#hero1 {
    background: url("../images/hero.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#hero2 {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/21555/Melissani-cave-natural.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.hero,
.content {
    text-align: center;
    position: relative;
    width: 100%;
}

.inner {
    min-height: 100vh;
    position: relative;
}

.hero .inner {
    background: rgba(0, 0, 0, 0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
}


.copy {
    position: absolute;
    top: 50%;
    height: 10em;
    margin-top: -5em;
    width: 100%;
}

.hero h1,
.hero p {
    color: #fff;
}